In [5]:
import pandas as pd

In [7]:
df = pd.read_excel('pandas_01_day6.xlsx')

In [12]:
#Data of first five rows
df.head()

   height  weight favourite_dish
0     5.8     101  Chicken Pulao
1     6.2      92        Biryani
2     5.9      62  Karahi Ghosht
3     5.9      95  Chicken Pulao
4     5.9      55  Chicken Pulao

In [9]:
#Data of last five rows
df.tail()

    height  weight favourite_dish
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

In [13]:
df.info

<bound method DataFrame.info of     height  weight favourite_dish
0      5.8     101  Chicken Pulao
1      6.2      92        Biryani
2      5.9      62  Karahi Ghosht
3      5.9      95  Chicken Pulao
4      5.9      55  Chicken Pulao
..     ...     ...            ...
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

[87 rows x 3 columns]>

In [20]:
df.index
df.describe()

           height      weight
count   87.000000   87.000000
mean     9.998391   70.459770
std     25.733340   16.753899
min      5.000000   25.000000
25%      5.300000   60.000000
50%      5.600000   70.000000
75%      5.850000   80.000000
max    178.000000  125.000000