In [6]:
import pandas as pd
series = pd.Series([1, "John"])
s = pd.Series([1, 2, 3, 4, 5])
print(s)
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [7]:
data = {'Name': ['Alice', 'Bob', 'Charlie'],
'Age': [25, 30, 35],
'City': ['New York', 'San Francisco', 'Los Angeles']
}
df = pd.DataFrame(data)
print(df)
print(df['Name'])
new_data = df[df['Age']>26]
print(new_data)
print(df.shape)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object
      Name  Age           City
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
(3, 3)

In [8]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Eva'],
    'Age': [25, None, 30, 25, 28],
    'Category': ['Electronics', 'Clothing', 'Electronics', 'Electronics', 'Clothing'],
    'Price': [100.0, 50.0, 120.0, None, 75.0]
}
df_2 = pd.DataFrame(data)
print(df_2)
# df_2.dropna(inplace=True)
df_2.fillna(0,inplace=True)
df_2.drop_duplicates(inplace=True)
# df_2.sort_values(by='Category', inplace=True)
mean = df_2.groupby('Category')['Price'].mean()
print(df_2)
print(mean)

      Name   Age     Category  Price
0    Alice  25.0  Electronics  100.0
1      Bob   NaN     Clothing   50.0
2  Charlie  30.0  Electronics  120.0
3    Alice  25.0  Electronics    NaN
4      Eva  28.0     Clothing   75.0
      Name   Age     Category  Price
0    Alice  25.0  Electronics  100.0
1      Bob   0.0     Clothing   50.0
2  Charlie  30.0  Electronics  120.0
3    Alice  25.0  Electronics    0.0
4      Eva  28.0     Clothing   75.0
Category
Clothing       62.500000
Electronics    73.333333
Name: Price, dtype: float64

In [13]:
#Given the following DataFrame df, how would you select:
#The second row of column 'A'?
#The values in column 'B' where column 'A' is greater than 3?
#The last two rows of the DataFrame?
df = pd.DataFrame({'A': [1, 2, 3, 4, 5], 'B': [10, 20, 30, 40, 50]})
print(df)
print(df.loc[1]['A'])
df[df['A']>3]['B']
df.tail(2)

   A   B
0  1  10
1  2  20
2  3  30
3  4  40
4  5  50
2

   A   B
3  4  40
4  5  50

In [12]:
#Given a DataFrame sales with columns 'Product' and 'Revenue', how would you calculate:
# The total revenue for each product?
# The average revenue across all products?
sales = pd.DataFrame({'Product': ['A', 'B', 'A', 'C', 'B'], 'Revenue': [100, 150, 200, 75, 120]})
total_revenue_per_product = sales.groupby('Product')['Revenue'].sum()
average_value = sales['Revenue'].mean()
print(total_revenue_per_product)
print(average_value)

Product
A    300
B    270
C     75
Name: Revenue, dtype: int64
129.0

In [11]:
# Data Transformation:
# Given a DataFrame students with columns 'Name', 'Age', and 'Grade', how would you:
# Create a new DataFrame containing only students with an age greater than 26.
# Add a new column 'Status' where 'Pass' is assigned to students with a grade of 'A' and 'Fail' otherwise.
students = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
                         'Age': [25, 30, 35, 28, 24],
                         'Grade': ['A', 'B', 'A', 'C', 'B']})
new_data_frame = students[students['Age']>26]
students['Status'] = ['Pass' if grade == 'A' else 'Fail' for grade in students['Grade']]
#Method 2 
def assign_status(grade):
    if grade == 'A':
        return 'Pass'
    else:
        return 'Fail'

# Apply the function to create the 'Status' column
students['Status'] = students['Grade'].apply(assign_status)

print(students)
print(new_data_frame)

      Name  Age Grade Status
0    Alice   25     A   Pass
1      Bob   30     B   Fail
2  Charlie   35     A   Pass
3    David   28     C   Fail
4      Eva   24     B   Fail
      Name  Age Grade
1      Bob   30     B
2  Charlie   35     A
3    David   28     C

In [80]:
#Given two DataFrames df1 and df2:
df1 = pd.DataFrame({'Key': ['A', 'B', 'C'], 'Value1': [1, 2, 3]})
df2 = pd.DataFrame({'Key': ['B', 'C', 'D'], 'Value2': [4, 5, 6]})
# How would you perform an inner join between these DataFrames on the 'Key' column?
# How would you perform a left join between these DataFrames on the 'Key' column?
inner_join_result = df1.merge(df2, on="Key", how="inner")
left_join_result = df1.merge(df2, on= "Key", how="left")
print(inner_join_result)
print(left_join_result)
print(df2)

  Key  Value1  Value2
0   B       2       4
1   C       3       5
  Key  Value1  Value2
0   A       1     NaN
1   B       2     4.0
2   C       3     5.0
  Key  Value2
0   B       4
1   C       5
2   D       6

In [13]:
import pandas
s1=pandas.Series([2,3,4,5,6],index=['a','b','c','d','e'])
s1[1:2]=345.6
s1[2:4]= -14.65
print(s1)

a      2.00
b    345.60
c    -14.65
d    -14.65
e      6.00
dtype: float64

In [16]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.array([[4,6,9],[5,1,3]]))
print(df.shape)
df

(2, 3)

   0  1  2
0  4  6  9
1  5  1  3

In [21]:
array1=np.array([100,200,300,400,500,600,700])
print(array1[1:5:2])
array_ = [100,200,300,400,500,600,700]
print(array_[1:5])

[200 400]
[200, 300, 400, 500]